.git
.github
.idea
.vscode
.claude
.junie
.pytest_cache
.cache
.local
htmlcov
coverage.xml
coverage.svg
.coverage
.coverage.*
evals
node_modules
data
*.tg
*.http
**/__pycache__
**/*.pyc
docker-compose*.yml
deploy-*.sh
manifests
.env
.env.*
.bash_history
.python_history
