hupper
pymongo
pyyaml
python-telegram-bot[http2]
aiohttp
langchain
langsmith
langchain-ollama
langchain-openrouter
langchain-anthropic
pydantic
pydantic-settings
scheduler
Pillow
opencv-python-headless
Jinja2
lottie
cairosvg # for lottie gif export
qdrant-client
async-cache
